# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives
- List the popular languages used in data science
- List the common libraries data scientist use
- List the tools data scientists use
- Write some arithmetic experssions
- Write some computation arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. C
7. C++
8. Pythorch
9. Scala

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. Pandas
3. Numpy
4. Matplotlib
5. Tensorflow
6. Scikit-learn
7. Big DL

|Data Science Tools|
|-------------------|
|Apache Airflow|
|Databases|
|Apache Spark|
 |Hadoop|
|Superset|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
(3*4)+5
#This is a simple arithmetic expression to multiply and then add integers

17

In [11]:
y = 200
x = (y/60)
print(x)

# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

# Author
Joseph